

@media (max-width: 639px) {
  .w-64 {
    width: 256px;
  }

  .sidebar-content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

/* @media (min-width: 320px) and (max-width: 500px) {
  .image-width{
    width: 70px;
  }
} */
.new_gradient {
  background-image: linear-gradient(to right, #2B5290, #1e3a8a) !important; 
  transform: translate(-50%, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1) !important;
}

.text-indentation {
  @apply text-[#64748b] font-normal text-lg font-font-aspekta;
}

/*CARDS CLASSES*/
.card-main {
 @apply bg-white p-4 rounded flex flex-col relative;
}
.card-img{
  @apply w-12 h-12 mb-4;  
}
.card-heading{
  @apply text-xl font-bold leading-7 font-font-aspekta mb-2;
}
.card-content{
  @apply text-base leading-6 font-normal text-gray-600;
}
.card-divider{
  @apply absolute inset-y-0 right-0 w-0.5 h-16 bg-gray-300;
}

/*FONT*/
.font-text{
  @apply font-font-aspekta text-[#94a3b8];
}

.font-color{
  @apply font-font-aspekta text-[#64748b];
}